*~
*.o
deps
build*
*.cmd
*.symvers
*.so
*.db
.tmp_versions
GPATH
GRTAGS
GSYMS
GTAGS
Doxyfile*
cscope*
tags
doc/html*
/src/ppl/pcj/pcj-helloworld/target/
/src/ppl/pcj/pcj-helloworld-mvn/target/
/src/ppl/pcj/pcj-helloworld/nbproject/private/
/src/ppl/pcj/pcj-helloworld/dist/
*.swp
compile_commands.json
