[submodule "src/lib/pmdk"]
	path = src/lib/pmdk
	url = https://github.com/pmem/pmdk.git
  branch = stable-1.4

[submodule "src/lib/ndctl"]
	path = src/lib/ndctl
	url = https://github.com/pmem/ndctl.git
[submodule "src/lib/libfabric"]
	path = src/lib/libfabric
	url = https://github.com/ofiwg/libfabric.git
[submodule "src/components/cluster/zyre/lib/zyre"]
	path = src/components/cluster/zyre/lib/zyre
	url = https://github.com/zeromq/zyre.git
