language: c++

# add branches you want to triger CI
branches:
  only:
    - master
    - unstable
    - travis-CI-test

sudo: required

services:
  - docker

compiler:
  - g++

# TODO: we can auto-build and publish this docker image
# see https://docs.docker.com/docker-cloud/builds/automated-build
env:
  global:
    - DOCKERIMG="fengggli/comanche-env:ubuntu1604-180525.a"
    - CONTAINER_NAME="comanche-build-test"

# comanche requires cmake 3.6.2 (to build google/benchmark)
# for local building testing, remener to run git submodule init/update
# Using g++ will exhaust travisci memory
#
before_install:
  - docker run -d --name ${CONTAINER_NAME} -v $(pwd):/travis ${DOCKERIMG} tail -f /dev/null
  - docker ps
  - docker exec -t ${CONTAINER_NAME} bash -c "
    cd /travis/deps;
    ./install-apts.sh;
    sudo apt -y install clang;
    sudo apt -y remove cmake;
    sudo apt purge -y --auto-remove cmake;
    wget https://cmake.org/files/v3.11/cmake-3.11.2-Linux-x86_64.sh;
    sh cmake-3.11.2-Linux-x86_64.sh  --skip-license  --prefix=/usr"


install:
  - docker exec -t ${CONTAINER_NAME} bash -c "
    cd /travis;
    cd deps;
    ./fetch-deps.sh"

script:
  - docker exec -t ${CONTAINER_NAME} bash -c "
    cd /travis ;
    mkdir build;
    cd build;
    cmake .. -DBENCHMARK_ENABLE_TESTING=off -DCOMANCHE_LIMIT_MAKE_JOB=2;
    make; 
    make install"
    
after_success:
  - echo 'make complete'"
