language: c++

# add branches you want to triger CI
branches:
  only:
    - master
    - unstable
    - nvmestore
    - travis-CI-test
    - build-fedora

sudo: required

services:
  - docker

compiler:
  - g++

# TODO: we can auto-build and publish this docker image
# see https://docs.docker.com/docker-cloud/builds/automated-build
env:
  global:
  matrix:
    - CONTAINER_NAME="comanche-build-fedora27"
      DOCKERIMG="fedora:27" 
      BOOTSTRAP_FILE="./install-yum.sh"
    - CONTAINER_NAME="comanche-build-ubuntu1604"
      DOCKERIMG="ubuntu:16.04"  
      BOOTSTRAP_FILE="./install-apts.sh"



# comanche requires cmake 3.6.2 (to build google/benchmark)
# for local building testing, remener to run git submodule init/update
# https://stackoverflow.com/questions/33013539/docker-loading-kernel-modules
before_install:
  - docker run -d --name ${CONTAINER_NAME} --privileged --cap-add=ALL
    -v $(pwd):/travis ${DOCKERIMG}
    tail -f /dev/null
  - docker ps
  - docker exec -t ${CONTAINER_NAME} bash  -c "
    cd /travis/deps;
    ${BOOTSTRAP_FILE};"

install:
  - docker exec -t ${CONTAINER_NAME} bash -c "
    cd /travis;
    cd deps;
    ./fetch-deps.sh"

# note: limit job number to 2 to avoid out-of-memory for rocksdb build
script:
  - docker exec -t ${CONTAINER_NAME} bash -c "
    cd /travis ;
    mkdir build;
    cd build;
    cmake .. -DCOMANCHE_LIMIT_MAKE_JOB=2;
    make deps;
    make;
    make install"

after_success:
  - echo 'comanche build complete'
